:root {
  --mdc-theme-primary: #7f91ec;
  --mdc-theme--background: #151515;
  --mdc-secondary-background: #121112;
  --plyr-color-main: #7f91ec;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body,
#routify-app {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

.clickable :hover {
  cursor: pointer;
}

.colorPrimary {
  color: var(--mdc-theme-primary);
}

.whiteText {
  color: #fff;
}

.hide {
  display: none;
}

.page .plyr {
  align-items: center;
  direction: ltr;
  display: flex;
  flex-direction: column;
  font-family: var(--plyr-font-family, inherit);
  font-variant-numeric: tabular-nums;
  font-weight: var(--plyr-font-weight-regular, 400);
  line-height: var(--plyr-line-height, 1.7);
  max-width: 800px;
  min-width: 200px;
  position: relative;
  text-shadow: none;
  transition: box-shadow 0.3s ease;
  z-index: 0;
  padding: 0;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

#media .mdc-card {
  min-width: 250px;
}

.mdc-top-app-bar {
  background-color: var(--mdc-theme--background);
}
#profile .mdc-data-table__header-cell {
  background-color: transparent;
}

#profile .mdc-data-table {
  background-color: transparent;
  -webkit-overflow-scrolling: touch;
  display: inline-flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  border-style: none;
}
.mdc-card__media-content h2 {
  margin: 0px;
  text-shadow: #000 1px 0 10px;
}

#list
  :not(.mdc-deprecated-list-item--disabled).mdc-deprecated-list-item.mdc-ripple-upgraded {
  --mdc-ripple-fg-opacity: var(--mdc-ripple-press-opacity, 0.24);
  padding-bottom: 1rem;
}

#index .smui-card__content {
  max-width: 200px;
  color: #bbb;
}

#index .mdc-card__media {
  background-color: #33363d;
}

#index .smui-paper.smui-paper--elevation-z1 {
  box-shadow: none;
}
#index .smui-paper {
  background-color: transparent;
}
#index .mdc-button {
  border-radius: 2rem;
  padding: 2rem;
  color: white;
  font-size: large;
  margin-bottom: 4rem;
}

#index .smui-paper .smui-paper__title {
  font-weight: bold;
  font-size: 40px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 0;
}
#index .title {
  font-weight: bold;
  font-size: 40px;
  color: #7f91ec;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 0.4rem;
  margin-right: 0.7rem;
}

#index .text {
  font-size: calc(15px + 0.2vw);
  color: #a1a7aa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
}

#index .subtext {
  font-size: 22px;
  color: #dcdedf;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 0;
  margin-bottom: 1rem;
}

.page .plyr--video {
  border-radius: 0.5rem;
}

.plyr--video {
  border-radius: 0.5rem;
}

.smui-paper__content .plyr--fullscreen-enabled [data-plyr="fullscreen"] {
  display: block;
}

.paper .smui-paper.smui-paper--elevation-z1 {
  box-shadow: none;
}

.mdc-dialog__content .mdc-deprecated-list:first-child:last-child {
  padding: 6px 0 0;
  margin-bottom: 1rem;
}

.flexCentered {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexYCentered {
  height: 100%;
  display: flex;
  align-items: center;
}

.flexXCentered {
  width: 100%;
  display: flex;
  justify-content: center;
}

.flexColumn {
  flex-direction: column;
}

/* Desktops */
@media only screen and (min-width: 1100px) {
  .mobileOnly {
    display: none;
  }

  .desktopOnly {
    display: initial;
  }
}

/* Mobile screens */
@media only screen and (max-width: 1100px) {
  .mobileOnly {
    display: initial;
  }

  .desktopOnly {
    display: none;
  }

  #form .mdc-layout-grid__inner {
    display: grid;
    margin: 0;
    grid-template-columns: 0;
  }

  .mdc-top-app-bar {
    background-color: var(--mdc-secondary-background);
  }
  .bgPrimary {
    background-color: var(--mdc-secondary-background);
    position: sticky;
    top: 0px;
  }

  .mdc-drawer--modal.mdc-drawer--open {
    display: flex;
    z-index: 200;
  }

  .page .plyr {
    align-items: center;
    direction: ltr;
    display: flex;
    flex-direction: column;
    font-family: var(--plyr-font-family, inherit);
    font-variant-numeric: tabular-nums;
    font-weight: var(--plyr-font-weight-regular, 400);
    line-height: var(--plyr-line-height, 1.7);
    max-width: 100%;
    min-width: 200px;
    position: relative;
    text-shadow: none;
    transition: box-shadow 0.3s ease;
    z-index: 0;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }

  .smui-paper__content .plyr--fullscreen-enabled [data-plyr="fullscreen"] {
    display: none;
  }
}
